{% extends "base.html" %}
{% block title %} Update the students {% endblock %}
{%block content%} 
<div class="container">
  <h1>Update Student</h1>
<form action="{% url 'update_student' student.rollno %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="roll_number">Roll Number</label>
    <input type="text" class="form-control" id="exampleInputEmail1" value= {{student.rollno}} aria-describedby="emailHelp" name= "rollno" placeholder="Enter roll number">
    </div>
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" value= {{student.name}} aria-describedby="emailHelp" name= "name" placeholder="Enter name">
    </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value= {{student.email}} name= "email" placeholder="Enter email">
  </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="exampleInputPassword1" value= {{student.age}} name= "age" placeholder="Age">
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea name="address" class="form-control" required>{{ student.address }}</textarea>
    </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>  
</div>  
{% endblock %}